In [1]:
#akses google drive
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
#import masing-masing fitur
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import pairwise_distances

In [5]:
#mengakses file movielens dari google drive
import pandas as pd
movies = pd.read_csv("/gdrive/My Drive/movies.csv",encoding="Latin1")
Ratings = pd.read_csv("/gdrive/My Drive/ratings.csv")
Tags = pd.read_csv("/gdrive/My Drive/tags.csv",encoding="Latin1")

Mean = Ratings.groupby(by="userId",as_index=False)['rating'].mean()
Rating_avg = pd.merge(Ratings,Mean,on='userId')
Rating_avg['adg_rating']=Rating_avg['rating_x']-Rating_avg['rating_y']
Rating_avg.head()

   userId  movieId  rating_x   timestamp  rating_y  adg_rating
0   12882        1       4.0  1147195252  4.061321   -0.061321
1   12882       32       3.5  1147195307  4.061321   -0.561321
2   12882       47       5.0  1147195343  4.061321    0.938679
3   12882       50       5.0  1147185499  4.061321    0.938679
4   12882      110       4.5  1147195239  4.061321    0.438679

In [6]:
#untuk menampilkan data movies
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [7]:
#untuk menampilkan data rating heads
Ratings.head()

   userId  movieId  rating   timestamp
0   12882        1     4.0  1147195252
1   12882       32     3.5  1147195307
2   12882       47     5.0  1147195343
3   12882       50     5.0  1147185499
4   12882      110     4.5  1147195239

In [8]:
#menampilkan data tags
Tags.head()

   movieId  userId           tag   timestamp
0     3916   12882        sports  1147195545
1     4085   12882  Eddie Murphy  1147195966
2    33660   12882        boxing  1147195514
3     1197     320     must show  1145964801
4     1396     320     must show  1145964810

In [9]:
#untuk menampilkan pivot table berdasarkan rating x (NaN = Not a Number)
check = pd.pivot_table(Rating_avg,values='rating_x',index='userId',columns='movieId')
check.head()

movieId  1       2       3       4       ...  111362  111759  112556  112852
userId                                   ...
316         2.5     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
320         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
359         5.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
370         4.5     4.0     NaN     NaN  ...     3.0     4.5     3.5     3.0
910         5.0     4.0     3.5     NaN  ...     NaN     4.5     NaN     NaN

[5 rows x 2500 columns]

In [10]:
#untuk menampilkan pivot table berdasarkan adg rating (NaN = Not a number)
final = pd.pivot_table(Rating_avg,values='adg_rating',index='userId',columns='movieId')
final.head()

movieId    1         2        3       ...    111759    112556    112852
userId                                ...
316     -0.829457       NaN      NaN  ...       NaN       NaN       NaN
320           NaN       NaN      NaN  ...       NaN       NaN       NaN
359      1.314526       NaN      NaN  ...       NaN       NaN       NaN
370      0.705596  0.205596      NaN  ...  0.705596 -0.294404 -0.794404
910      1.101920  0.101920 -0.39808  ...  0.601920       NaN       NaN

[5 rows x 2500 columns]

In [0]:
# Untuk mengganti NaN berdasarkan average movie
final_movie = final.fillna(final.mean(axis=0))

In [0]:
# Untuk mengganti NaN berdasarkan rata-rata user
final_user = final.apply(lambda row: row.fillna(row.mean()), axis=1)

In [13]:
#untuk menampilkan data pivot table movie yang Nan sudah menjadi average movie
final_movie.head()

movieId    1         2         3       ...    111759    112556    112852
userId                                 ...
316     -0.829457 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
320      0.200220 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
359      1.314526 -0.436518 -0.468109  ...  0.234458  0.362468  0.349157
370      0.705596  0.205596 -0.468109  ...  0.705596 -0.294404 -0.794404
910      1.101920  0.101920 -0.398080  ...  0.601920  0.362468  0.349157

[5 rows x 2500 columns]

In [14]:
#untuk menampikan data user tabel movie yang NaN menjadi average movie
final_user.head()

movieId        1             2       ...        112556        112852
userId                               ...
316     -8.294574e-01 -1.445872e-16  ... -1.445872e-16 -1.445872e-16
320     -5.013910e-17 -5.013910e-17  ... -5.013910e-17 -5.013910e-17
359      1.314526e+00  9.809414e-17  ...  9.809414e-17  9.809414e-17
370      7.055961e-01  2.055961e-01  ... -2.944039e-01 -7.944039e-01
910      1.101920e+00  1.019202e-01  ... -1.994138e-16 -1.994138e-16

[5 rows x 2500 columns]

In [15]:
# untuk melakukan persamaan masing-masing user untuk mengganti NaN dari rata-rata user
b = cosine_similarity(final_user)
np.fill_diagonal(b, 0 )
similarity_with_user = pd.DataFrame(b,index=final_user.index)
similarity_with_user.columns=final_user.index
similarity_with_user.head()

userId    316       320       359     ...    138072    138176    138200
userId                                ...
316     0.000000  0.060063  0.072075  ...  0.077377  0.026924 -0.022727
320     0.060063  0.000000  0.063054  ...  0.098845  0.038752  0.056639
359     0.072075  0.063054  0.000000  ...  0.102698  0.099307  0.003147
370     0.043266  0.027315  0.135836  ...  0.052187  0.050997  0.009950
910     0.039305  0.006811  0.076131  ...  0.073272 -0.012058  0.007610

[5 rows x 862 columns]

In [0]:
# untuk melakukan persamaan masing-masing user untuk mengganti NaN dari rata-rata movie
cosine = cosine_similarity(final_movie)
np.fill_diagonal(cosine, 0 )
similarity_with_movie = pd.DataFrame(cosine,index=final_movie.index)
similarity_with_movie.columns=final_user.index
similarity_with_movie.head()

def find_n_neighbours(df,n):
    order = np.argsort(df.values, axis=1)[:, :n]
    df = df.apply(lambda x: pd.Series(x.sort_values(ascending=False)
           .iloc[:n].index, 
          index=['top{}'.format(i) for i in range(1, n+1)]), axis=1)
    return df

In [19]:
# untuk menampilkan 30 data teratas algoritma KNN dari masing-masing user
sim_user_30_u = find_n_neighbours(similarity_with_user,30)
sim_user_30_u.head()

          top1    top2    top3   top4  ...   top27   top28   top29   top30
userId                                 ...
316     113673  117918    9050  12882  ...   58265   89527   49830   63902
320      12288  113673   28159  79846  ...   80946   10055   64365  106512
359     102118   96482  102532  50898  ...   86768  129498  131620   58346
370      46645   42245   40768  23428  ...  117144   96482    2988  108195
910      87042  131620   67352  40768  ...   18115  114601   23428   17039

[5 rows x 30 columns]

In [0]:
# untuk menampilkan 30 data teratas algoritma KNN dari masing-masing movie
sim_user_30_m = find_n_neighbours(similarity_with_movie,30)
sim_user_30_m.head()


def get_user_similar_movies( user1, user2 ):
    common_movies = Rating_avg[Rating_avg.userId == user1].merge(
    Rating_avg[Rating_avg.userId == user2],
    on = "movieId",
    how = "inner" )
    return common_movies.merge( movies, on = 'movieId' )


a = get_user_similar_movies(370,86309)
a = a.loc[ : , ['rating_x_x','rating_x_y','title']]
a.head()


def User_item_score(user,item):
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    c = final_movie.loc[:,item]
    d = c[c.index.isin(b)]
    f = d[d.notnull()]
    avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
    index = f.index.values.squeeze().tolist()
    corr = similarity_with_movie.loc[user,index]
    fin = pd.concat([f, corr], axis=1)
    fin.columns = ['adg_score','correlation']
    fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
    nume = fin['score'].sum()
    deno = fin['correlation'].sum()
    final_score = avg_user + (nume/deno)
    return final_score

In [21]:
#untuk menampilkan score berdasarkan rating + jumlah adg score * jumlah korelasi
score = User_item_score(320,7371)
print("score (u,i) is",score)

Rating_avg = Rating_avg.astype({"movieId": str})
Movie_user = Rating_avg.groupby(by = 'userId')['movieId'].apply(lambda x:','.join(x))

('score (u,i) is', 4.255766437391595)

In [0]:
#untuk memberikan rekomendasi movie berdasarkan user ID
def User_item_score1(user):
    Movie_seen_by_user = check.columns[check[check.index==user].notna().any()].tolist()
    a = sim_user_30_m[sim_user_30_m.index==user].values
    b = a.squeeze().tolist()
    d = Movie_user[Movie_user.index.isin(b)]
    l = ','.join(d.values)
    Movie_seen_by_similar_users = l.split(',')
    Movies_under_consideration = list(set(Movie_seen_by_similar_users)-set(list(map(str, Movie_seen_by_user))))
    Movies_under_consideration = list(map(int, Movies_under_consideration))
    score = []
    for item in Movies_under_consideration:
        c = final_movie.loc[:,item]
        d = c[c.index.isin(b)]
        f = d[d.notnull()]
        avg_user = Mean.loc[Mean['userId'] == user,'rating'].values[0]
        index = f.index.values.squeeze().tolist()
        corr = similarity_with_movie.loc[user,index]
        fin = pd.concat([f, corr], axis=1)
        fin.columns = ['adg_score','correlation']
        fin['score']=fin.apply(lambda x:x['adg_score'] * x['correlation'],axis=1)
        nume = fin['score'].sum()
        deno = fin['correlation'].sum()
        final_score = avg_user + (nume/deno)
        score.append(final_score)
    data = pd.DataFrame({'movieId':Movies_under_consideration,'score':score})
    top_5_recommendation = data.sort_values(by='score',ascending=False).head(5)
    Movie_Name = top_5_recommendation.merge(movies, how='inner', on='movieId')
    Movie_Names = Movie_Name.title.values.tolist()
    return Movie_Names

In [23]:
# untuk menampilkan rekomendasi berdasarkan user ID
user = int(input("Enter the user id to whom you want to recommend : "))
predicted_movies = User_item_score1(user)
print(" ")
print("The Recommendations for User Id : 370")
print("   ")
for i in predicted_movies:
    print(i)

Enter the user id to whom you want to recommend : 370

The Recommendations for User Id : 370

Band of Brothers (2001)
Godfather: Part II, The (1974)
Wallace & Gromit: The Wrong Trousers (1993)
Bicycle Thieves (a.k.a. The Bicycle Thief) (a.k.a. The Bicycle Thieves) (Ladri di biciclette) (1948)
Spirited Away (Sen to Chihiro no kamikakushi) (2001)